body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #fff;
}
  
.search-results {
    margin-top: 20px;
}
  
h1 {
    color: #202124;
    font-size: 20px;
}
  
h2 {
  color: #1a0dab;
  font-size: 18px;
}

p {
  color: #4d5156;
  font-size: 14px;
}

#google-search {
  width: 300px;
  height: 25px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  padding: 3px 14px 3px 24px;
}

.logo {
  margin-left: -30px;
  position: relative;
  top: 10px;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  background-color: #f8f9fa;
  cursor: pointer;
}

.nav-bar ul {
  list-style-type: none;
  margin: 20px 0 20px 20px;
  padding: 0;
  overflow: hidden;
}

.nav-bar li {
  display: inline;
  margin-right: 20px;
}

.nav-bar a {
  text-decoration: none;
  color: #1a0dab;
}

.divider {
  width: 100%;
  color: #e8e8e8;
}

.hr {
  border: none;
  border-top: 1px solid #e8e8e8;
  margin: 0;
}

#search-button {
  padding: 8px 12px; 
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  background-color: #f8f9fa;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: cneter;  /* aligns the items vertically in the middle */
  padding: 10px;  /* adds some space around the elements */
}

.user-icon {
  position: fixed;
  right: 10px;
  top: 10px; 
}

.search-bar {
  text-align: left;
  padding: 20px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.user-icon img {
  margin-top: 50px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}